/* Static CSS file or inline style */
.card-container {
  display: flex;
  /* Use flexbox to create a horizontal layout */
  gap: 20px;
  overflow-x: auto;
  /* Allow horizontal scrolling if content overflows */
  padding-bottom: 20px;
  /* Add some padding at the bottom for better visibility */
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
  /* Adjust the width as needed */
  flex-shrink: 0;
  /* Prevent cards from shrinking to fit */
}

.field_title
{
  font-size: 16px;
  font-weight: bold;
}

.recommended-label
{
  /* Small font */
  font-size: 12px;
}

.recommended_first
{
  /* color gold */
  color: #FFD700;
}

.recommended_second
{
  /* color silver */
  color: #C0C0C0;
}

.recommended_third
{
  /* color bronze */
  color: #CD7F32;
}

.card h3 {
  margin: 0;
  font-size: 18px;
}

.card-selected{
  border: 1px solid blue;
  background-color: lightblue;
}


.specialization_description{
  /* dont extend out the card */
  overflow: hidden;
  
}

/* remove a styles */
a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}


a:active {
  color: #000;
}