<<<<<<<< HEAD:course-u/static/css/test.css
:root {
  --primary-color: rgb(228, 95, 65);
  --font-family: 'Times New Roman', sans-serif;
}
body{
  background-image: url("../images/bgg.png");
  background-size: cover;
}
.logo {
  display: flex;
  align-items: center;
  background-color: #0D1117;
  justify-content: center;
  border-bottom: 1px solid #21262C;
}

.logo img {
  width: 80px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px;
  margin-bottom: 30px;
}
/*navigation bar*/
.input {          
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #0D1117;
  height: 100vh;
  width: 170px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}


.value {    /* ung mga words na nasa html*/
  background-color: transparent;
  border: none;
  padding: 20px;
  color: white;
  display: flex;
  position: relative;
  gap: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.1rem;
  align-items: center;
  
}

.nav_item {
  text-decoration: none;
  color: white;
}

.value:not(:active):hover,
.value:focus {
  background-color: #21262C;
}

.value:focus,
.value:active {
  background-color: #1A1F24;
  outline: none;
}

.value::before { /*blue line sa gilid ng nav bar*/
  content: "";
  position: absolute;
  top: 5px;
  left: 10px;
  width: 3px;
  height: 80%;
  background-color: var(--primary-color);
  border-radius: 5px;
  opacity: 0;
}

.value:focus::before,
.value:active::before {
  opacity: 1;
}
.quiz-container {
  border: 5px solid rgb(228, 95, 65);
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
  margin: 100px auto 20px auto; /* Adjust top margin as needed */
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 400px;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 0% 100%;
}
.col {
  float: left;
  width: 10px;

}
.col img{
  max-width:50%;
  height:auto;
  position:absolute;
  left:21%;
  top:15%;
  right:10%;


}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: flex;
}

.col {
  flex: 50%;
  
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(228, 95, 65);
  font-family: "Times New Roman", sans-serif
}

p{
  font-size: 22px;
  font-family: "Times New Roman", sans-serif;
}
.btn {
    
    padding: 10px 20px;
    background-color: #ff5133;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    /*position: absolute;
    bottom: 130px; 
    margin-left: 400px;
    */
}

.btn:hover {
    background-color: blue;

}
========
:root {
  --primary-color: rgb(228, 95, 65);
  --font-family: 'Times New Roman', sans-serif;
}
body{
  background-image: url("../images/bgg.png");
  background-size: cover;
}
.logo {
  display: flex;
  align-items: center;
  background-color: #0D1117;
  justify-content: center;
  border-bottom: 1px solid #21262C;
}

.logo img {
  width: 80px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px;
  margin-bottom: 30px;
}
.input {          /*navigation bar*/
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #0D1117;
  height: 100vh;
  width: 170px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.input a {
  text-decoration: none;
  color: white;
}


.value {    /* ung mga words na nasa html*/
  background-color: transparent;
  border: none;
  padding: 20px;
  color: white;
  display: flex;
  position: relative;
  gap: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.1rem;
  align-items: center;
  
}

.value:not(:active):hover,
.value:focus {
  background-color: #21262C;
}

.value:focus,
.value:active {
  background-color: #1A1F24;
  outline: none;
}

.value::before { /*blue line sa gilid ng nav bar*/
  content: "";
  position: absolute;
  top: 5px;
  left: 10px;
  width: 3px;
  height: 80%;
  background-color: var(--primary-color);
  border-radius: 5px;
  opacity: 0;
}

.value:focus::before,
.value:active::before {
  opacity: 1;
}
.quiz-container {
  border: 5px solid rgb(228, 95, 65);
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
  margin: 100px auto 20px auto; /* Adjust top margin as needed */
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 400px;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 0% 100%;
}
.col {
  float: left;
  width: 10px;

}
.col img{
  max-width:50%;
  height:auto;
  position:absolute;
  left:21%;
  top:15%;
  right:10%;


}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: flex;
}

.col {
  flex: 50%;
  
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(228, 95, 65);
  font-family: "Times New Roman", sans-serif
}

p{
  font-size: 22px;
  font-family: "Times New Roman", sans-serif;
}
.btn {
    
    padding: 10px 20px;
    background-color: #ff5133;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    /*position: absolute;
    bottom: 130px; 
    margin-left: 400px;
    */
}

.btn:hover {
    background-color: blue;

}
>>>>>>>> main:course-u/static/css/test_home.css
