{% extends 'base_user.html' %}



{% block title %}Home{% endblock %}

{% load static %}


{% block head_extra %}

    <!-- Additional stylesheets or scripts specific to this page -->
    <!-- <link rel="stylesheet" href="{% static 'css/home.css' %}"> -->

{% endblock head_extra %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {% for response in responses %}
      <h3>{{ response.mbti.mbti_question }}</h3>
      <p>{{response.mbti.option_a}}</p>
      <label>
        <input type="radio" name="question_{{ response.mbti_id }}" value="1">
        1
      </label>
      <label>
        <input type="radio" name="question_{{ response.mbti_id }}" value="2">
        2
      </label>
      <label>
        <input type="radio" name="question_{{ response.mbti_id }}" value="3">
        3
      </label>
      <label>
        <input type="radio" name="question_{{ response.mbti_id }}" value="4">
        4
      </label>
      <label>
        <input type="radio" name="question_{{ response.mbti_id }}" value="5">
        5
      </label>
      <p>{{response.mbti.option_b}}</p>
    {% endfor %}
    <button type="submit">Submit</button>
  </form>




{% endblock content %}