{% extends 'base_user.html' %}

{% block title %}Test Overview{% endblock %}
{% load static %}
{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/test_overview.css' %}">
{% endblock head_extra %}
{% block content %}
<div class="test-container">

    <h1 class="mt-4">Test Overview</h1>
    <p>Question Set ID: {{ question_set_id }}</p>
    <p>{{questions_answered}} / {{n_question }}</p>
    <table class="table1">
        <thead class="thead-light">
            <tr>
                {% if is_admin %}
                <th>ID</th>
                <th>field</th>
                <th>Correct</th>
                {% else %}
                {% endif %}
                <th>Question</th>
                <th>Status</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for item in question_info %}
                <tr>
                    {% if is_admin %}
                    <td>{{ item.question.question_id }}</td>
                    <td>{{ item.question.field_id }}</td>
                    <td>
                        {% if item.is_correct %}
                        <span class="text-sucess">{{ item.is_correct }}</span>
                        {% else %}
                        <span class="text-danger">{{ item.is_correct }}</span>
                        {% endif %}
                    </td>
                    {% else %}
                    {% endif %}
                    <td>{{item.question.question}}</td>
                    <td>
                        {% if item.has_answered %}
                            <span class="text-success">Answered</span>
                        {% else %}
                            <span class="text-danger">Not Answered</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.has_answered %}
                            <a href="{% url 'display_question' question_id=item.question.question_id %}" class="btn2">View</a>
                        {% else %}
                            <a href="{% url 'display_question' question_id=item.question.question_id %}" class="btn1">Start Test</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <a class="btn btn-primary" href="{% url 'submit_test' %}">Submit Test</a>
</div>
{% endblock %}
