{% extends 'base_user.html' %}<!--navbar-->



{% block title %}Home{% endblock %}<!--hindi ko alam kung saan to aky kaya di-->

{% load static %}


{% block head_extra %}

<!-- Additional stylesheets or scripts specific to this page -->
<!-- <link rel="stylesheet" href="{% static 'css/home.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/test_home.css' %}">
{% endblock head_extra %}

{% block content %}

{% if user.is_authenticated %}
<div class="test-home-main">
    <div class="character-container">
        
    
    <body>
    <div class="test-container">

        <br><br><br><br><br>
            <div class="card-body">
               
                <a href="{% url 'select_course' %}" class="btn btn-primary"><img src="{% static 'images/light.png' %}">DEFINE YOUR INFORMATION</a>
                
        </div>

            <div class="card-body">
            
                <a href="{% url 'start_test' %}" class="btn btn-primary"><img src="{% static 'images/boom.png' %}">START TEST</a></div>
                <div class="card-body">
                <a href="{% url 'test_results_overall' %}" class="btn btn-primary"><img src="{% static 'images/recommendation1.png' %}">VIEW RESULTS</a>
            </div>
        </div>

        <!-- <div class="card" id="card3">
            <div class="card-body">
                <img src="{% static 'images/personality1.png' %}" alt="course" width="100" height="100">
                <h5 class="card-title">Start Personality Test</h5>
                <p class="card-text">Click the button below to start the test.</p>
                <br>
                <a href="{% url 'initialize_mbti_test' %}" class="btn btn-primary">Start Test</a>
            </div>
        </div> -->


        <!-- <div class="card" id="card4">
            <div class="card-body">
                <img src="{% static 'images/recommendation1.png' %}" alt="course" width="100" height="100">
                <h5 class="card-title">Recommendation</h5>
                <p class="card-text">Generate your Recommendation based on you results.</p>

                <a href="{% url 'recommender' %}" class="btn btn-primary">Compute</a>
            </div>
        </div> -->
    </div>
</div>
<!-- <br><br><br><br> -->
</body>
{% else %}
<!-- 
    <div class="col-md-6 offset-md-3">
        <br><br><br>
        <h3 class="">You need to login first</h3>
        <a href="{% url 'login_user' %}" class="btn btn-secondary">Login Page</a>
    </div> 
-->

{% endif %}



{% endblock content %}
```