{% extends 'base_user.html' %}

{% block title %}Home{% endblock %}

{% block head_extra %}
    <!-- Additional stylesheets or scripts specific to this page -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock  %}


{% block content %}

{% if user.is_authenticated %}


<div class="card-container" >
    {% for item in specialization_items %}
    <a href="{% url 'specialization_page' item_id=item.specialization_id %}" class="card-link">
      <div class="card">
        <h2>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
        <!-- Add more fields as needed -->
      </div>
    </a>
    {% endfor %}
</div>
  

{% else %}
<!-- 
<div class="col-md-6 offset-md-3">
    <br><br><br>
    <h3 class="">You need to login first</h3>
    <a href="{% url 'login_user' %}" class="btn btn-secondary">Login Page</a>
</div> -->

{% endif %}



{% endblock content %}
```