<!-- 
<div class="details"> -->
    <!-- accoutns table -->
    <!-- <div class="accounts">
        <div class="cardHeader">
            <h2>Recent Orders</h2>
            <a href="#" class="btn">View All</a>
        </div>
        <table class="">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Active</th>
            </thead>
            <tbody>
                {% for user in auth_user %}
                <tr>
                    <td><a href="#">{% if user.first_name%} {{ user.first_name}} {{ user.last_name}} {% else %} {{ user.username }}{% endif %}</a></td>                  
                    <td>{{ user.email }}</td>                
                    <td class="status {% if user.is_active%} user_active {% else %} user_inactive {% endif %}" >{{ user.is_active}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> -->
    <!-- Field Table -->
    <!-- <div class="users">
        <div class="cardHeader">
            <h2>Track / Fields</h2>
            <a href="" class="btn">View All</a>
        </div>
        <table class="table table-sm">
            {% for user in auth_user %}
            <tr>
                <td width="60px"><div class="imgBx"><img src="" alt=""></div></td>
                <td><h4>{{ user.first_name }}<br><span>{{ user.last_name }}</span></h4></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div> -->


<hr>
<div class="row">
<div class="col-md-6 ">
    <h5>Students</h5><a class="btn btn-primary" href="{% url 'admin_students' %}">View All Student</a><br><br>
    <div class="card card-body">
        <!-- <a class="btn bth-primary btn-sm btn-block" href="">Create</a> -->
        <table class="table table-sm">
            <thead>
                <th>Username</th>
                <th>Email</th>
                <th>Active</th>
            </thead>
            <tbody>
                {% for user in auth_user %}
                <tr>
                    <td><a href="#">{{ user.username}}</a></td>                  
                    <td>{{ user.email }}</td>                
                    <td>{{ user.is_active}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
    <br><br>
    <h5>Test</h5><a class="btn btn-primary" href="{% url 'admin_report' %}"> Assessment Report </a><br><br>
    <div class="card card-body">
        <!-- <a class="btn bth-primary btn-sm btn-block" href="">Create</a> -->
        <table class="table table-sm">
            <thead>
                <th> Topic </th>
                <th> No. of Questions </th>
                <th> Add Questions </th>
            </thead>
            <tbody>
                {% for field, count in field_test_count_dict.items %}
                <tr>

                    <td><a href="">{{ field }} </a></td>
                    <td> {{ count }} </td>
                    <td><a href="{% url 'create_test' %}" class="btn btn-primary">Create</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br><br>
<div class="col-md-6">
    <h5>Field / Specialization </h5>
    <div class="card card-body">
        <!-- <a class="btn bth-primary btn-sm btn-block" href="">Create</a> -->
        <table class="table table-sm">
            <thead>
                <th> Name </th>
                <th> View </th>
            </thead>
            <tbody>
                {% for item in fields %}
                <tr>
                    <td> {{ item.field_name }}</td>
                    <td> <a class="btn btn-primary" href="{% url 'field_page' item.field %}">View</a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-6">
    
</div>
</div>