{% extends 'base_user.html' %}

{% block title %}Dashboard{% endblock %}

{% block head_extra %}
{% load static %}
<!-- Additional stylesheets or scripts specific to this page -->
<link rel="stylesheet" href="{% static 'css/admin_home.css' %}">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

{% endblock head_extra %}


{% block content %}

{% if user.is_authenticated %}
    <!-- {% if admin %}
    <div>
        <p>You are on Dashboard Page, only accessible by Admins.</p>
    </div>
    {% endif %} -->

    {% include 'status.html' %}

    <div>
        <a href="{% url 'admin_report' %}" class="btn btn-primary">Admin Report</a>
    </div>
    <!-- <div class="row">
        <div class="col">
            <div class="card card-body">
                <form action="get">
                    <input type="text">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div> -->

    {% include 'admin_tables.html' %}
    
{% else %}

{% endif %}



{% endblock content %}
