{% extends 'base_user.html' %}

{% block title %}Home{% endblock %}

{% block head_extra %}
<!-- Additional stylesheets or scripts specific to this page -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}


{% block content %}

{% if user.is_authenticated %}
<body>
<div class="section">
  <h3>Fields</h3>
  <div class="card-container">
    {% for item in field_items %}

    <a href="javascript:void(0);" class="card-link field-link link-offset-2 link-underline link-underline-opacity-0
      {% if user_recommendations %}{% if item == user_recommendations.field_1 %}recommendedfield_first
      {% elif item == user_recommendations.field_2 %}recommendedfield_second
      {% elif item == user_recommendations.field_3 %}recommendedfield_third{% endif %}{% endif %}"
      data-field-id="{{ item.field }}">
      <div
        class="card field{% if selected_field and selected_field.field_id == item.field_id %}-selected{% endif %} text-truncate">
        <h4 class="field_title">{{ item.field_name }}</h4>
        <!-- <p class="small">{{ item.description }}</p> -->
        <!-- Check if the field is recommended -->
        {% if user_recommendations %}
        {% if item == user_recommendations.field_1 %}
        <span class="recommended-label recommended_first">Top Recommendation 1</span>
        {% elif item == user_recommendations.field_2 %}
        <span class="recommended-label recommended_second">Top Recommendation 2</span>
        {% elif item == user_recommendations.field_3 %}
        <span class="recommended-label recommended_third">Top Recommendation 3</span>
        {% endif %}
        {% endif %}
      </div>
    </a>
    {% endfor %}
  </div>
</div>

<div class="section">
  <h3>Specialization Tracks</h3>
  <div class="card-container" id="specialization-container">
    {% for item in specialization_items %}
    <a href="{% url 'specialization_page' item_id=item.specialization_id %}"
      class="card-link link-offset-2 link-underline link-underline-opacity-0">
      <div class="card specialization text-truncate">
        <h4 class="specialization_title">{{ item.title }}</h4>
        <p class="small specialization_description">{{ item.description }}</p>
        <!-- Add more fields as needed -->
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="d-flex align-content-start flex-wrap">

  </div>
</div>

<div class="section">
 <br><br>

  <div class="container">
    <div class="row align-items-center justify-content-evenly gx-5">

      {% if user_recommendations.field_1 %}
      <div class="col">
        <a href="{% url 'recommendation_field' field_id=user_recommendations.field_1.field %}"
          class="card-link link-offset-2 link-underline link-underline-opacity-0">
          <div class="card" style="width: 24rem;">
            <img src="{% static 'images/com-1.png' %}" class="card-img-top" alt="..." style="position: relative;">
            <div class="card-body" style="position: relative;"><br>
              <h3 class="card-title">Continue your Track</h3>
              <p class="card-text">Click to continue to see all the learning materials that will help you to expand your
                knowlegde.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'job_list_with_field' field_id=user_recommendations.field_1.field %}"
          class="card-link link-offset-2 link-underline link-underline-opacity-0">
          <div class="card" style="width: 24rem;">
            <img src="{% static 'images/com-2.png' %}" class="card-img-top" alt="..." style="position: relative;">
            <div class="card-body" style="position: relative;"><br>
              <h3 class="card-title">Your Jobs</h3>
              <p class="card-text">Click to continue to see all the possible jobs recommended</p>
            </div>
          </div>
        </a>
      </div>
      {% else %}
      <div class="col">
        <a href="{% url 'test_home' %}" class="card-link link-offset-2 link-underline link-underline-opacity-0">
          <div class="card" style="width: 24rem;">
            <img src="{% static 'images/com-1.png' %}" class="card-img-top" alt="..." style="position: relative;">
            <div class="card-body" style="position: relative;"><br>
              <h3 class="card-title">Take a Test</h3>
              <p class="card-text">Click to continue to input your student information, performance and take a Test to
                make a Recommendation.</p>
            </div>
          </div>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>



<!-- Include your custom JavaScript file -->
<script src="{% static 'js/specialization_filter.js' %}"></script>
{% else %}
<!-- 
<div class="col-md-6 offset-md-3">
    <br><br><br>
    <h3 class="">You need to login first</h3>
    <a href="{% url 'login_user' %}" class="btn btn-secondary">Login Page</a>
</div> -->

{% endif %}



{% endblock content %}</body>