<div class="navigation">
    <ul>
        <li>
            <a href="#">
                <span class="icon"><ion-icon name="school-outline"></ion-icon></span>
                <span class="title"> Course-U </span>
            </a>
            {% load static %}
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo" href="{% url 'home' %}">
            </div>
        </li>
        {% if user.is_authenticated %}
        {% if request.user.is_staff %}
        
        <li>
            <a href="{% url 'admin_home' %}">
                <span class="icon"><ion-icon name="easel-outline"></ion-icon></span>
                <span class="title"> Dashboard </span>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'home' %}">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <span class="title"> Home </span>
            </a>
        </li>
        <li>
            <a href="{% url 'test_home' %}">
                <span class="icon"><ion-icon name="clipboard-outline"></ion-icon></span>
                <span class="title"> Recommender </span>
            </a>
        </li>
        <li>
            <a href="{% url 'user_profile' %}">
                <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                <span class="title"> Profile </span>
            </a>
        </li>
        <li>
            <a href="{% url 'job_list' %}">
                <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                <span class="title"> Jobs </span>
            </a>
        </li>
        <li>
            <a href="{% url 'logout' %}">
                <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                <span class="title"> Logout </span>
            </a>
        </li>
        {% else %}
        <li>
            <a href="#">
                <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                <span class="title"> Login </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                <span class="title"> Signup </span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>