/*.course {
    display: block;
    margin: 0 auto;
    margin-bottom:5px;
    width: 400px;
    height: 100px;
    line-height: 80px;
    font-size: 30px;
    text-align:center;
    color: black;
    background-color: #ececec;
    border-radius: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }
  .course:hover {
    background-color: rgb(228, 95, 65);

  }
  p{
    text-align:  center;
    color:rgb(228, 95, 65);
    font-family:georgia;
    font-size: 50px;
  }
  */
  
  body{
    background-image: url('../../static/images/year.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
    p{
      text-align:  center;
      color:rgb(228, 95, 65);
      font-family:georgia;
      font-size: 50px;
    }
  .course{
      border-radius: 10px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: center;
  }
  .btn{ 
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 750px;
    width: 400px;
    height: 80px;
    line-height: 80px;
    font-size: 25px;
    padding: 2px 1px;
    background-color: rgb(228, 95, 65);
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: bold;
    color:white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
  }
  .btn:hover {
    background-color: whitesmoke; /* Change the background color on hover */
    color:rgb(228, 95, 65);
  
  }
  
  body{
    background-image: url("/static/images/bata2.png");
    background-size: cover;
    background-position: center;
    height: 100vh; /*Use viewport height*/
    width: 100vw; /*Use viewport width*/
    position: relative;
    overflow: hidden;
  }
  footer{
    display:none;
  }
