/*.course {
    display: block;
    margin: 0 auto;
    margin-bottom:5px;
    width: 400px;
    height: 100px;
    line-height: 80px;
    font-size: 30px;
    text-align:center;
    color: black;
    background-color: #ececec;
    border-radius: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }
  .course:hover {
    background-color: rgb(228, 95, 65);

  }
  p{
    text-align:  center;
    color:rgb(228, 95, 65);
    font-family:georgia;
    font-size: 50px;
  }
  */

/* .main {
  background-image: url('../../static/images/year.png');
  background-size: cover;
  background-repeat: no-repeat;
} */

body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

.main {

}
h2 {
  color: rgb(228, 95, 65); /* The orange color from your theme */
  text-align: center; /* Center the text */
  margin-bottom: 20px; /* Add some space below the heading */
  font-size: 50px;
}
.course-section {
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  /* border: 1px solid black;
  border-radius: 10px;
  background-color: #ececec;
  box-sizing: border-box; */
  width: calc(100% - 100px);
}

.character-section {
  background-image: url('../../static/images/character.png');
  background-size: contain; /* Adjust this */
  background-position: center;
  background-repeat: no-repeat; /* Add this to prevent the image from repeating */

  position: relative;
}

.selection-section {
  width: 70%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 100%;
}


p {
  text-align: center;
  color: rgb(228, 95, 65);
  font-family: georgia;
  font-size: 50px;
}

.course {
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}



.btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 750px;
  width: 400px;
  height: 80px;
  line-height: 80px;
  font-size: 25px;
  padding: 2px 1px;
  background-color: rgb(228, 95, 65);
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: bold;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  /* Updated style */
  margin-left: calc(70% - 200px); /* Position the center of the button on the 3/4 side of the page */
  margin-right: auto; /* Center the button */

}

.btn:hover {
  background-color: whitesmoke;
  /* Change the background color on hover */
  color: rgb(228, 95, 65);

}


footer {
  display: none;
}