.modal {
    /* max-width: 600px; */
    min-width: 600px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    padding: 20px;
}



/* Modal background overlay */
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/* Modal content container */
.modal-content {
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23); /* Modern shadow */
    background-color: #f5f5f5; /* Light grey background */
}

/* Modal title */
.modal-title {
    font-size: 2rem; /* Larger font size */
    color: #333; /* Dark grey color */
}

/* Modal header */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Modal close button */
.close {
    color: #aaa; /* Lighter color */
    font-size: 1.5rem; /* Larger close button */
    transition: color 0.2s; /* Smooth color transition */
    margin: -1rem -1rem -1rem auto; /* Aligns the close button to the right */
}

.close:hover {
    color: #000; /* Dark color on hover */
}

/* Modal body text */
.modal-body {
    font-size: 1.2rem; /* Same font size */
    color: #555; /* Dark grey color */
    line-height: 1.6; /* More space between lines */
}
/* Modal footer */
.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}

/* Modal buttons */
.modal-footer .btn-danger, .modal-footer .btn-primary {
    border: none; /* Remove border */
    color: #fff; /* White text */
    padding: 12px 24px; /* Button size */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: background-color 0.3s; /* Smooth color transition */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 4px; /* Rounded corners */
}

.modal-footer .btn-danger {
    background-color: #dc3545; /* Background color for Delete button */
}

.modal-footer .btn-danger:hover {
    background-color: #c82333; /* Darker color on hover */
}

.modal-footer .btn-primary {
    background-color: #007bff; /* Background color for Overwrite button */
    margin-left: 5px; /* Adjust as needed to separate buttons */
}

.modal-footer .btn-primary:hover {
    background-color: #0056b3; /* Darker color on hover */
}


footer {
    display: none;
}