.btn {
    display: block;
    margin: 0 auto;
    margin-bottom:6px;
    width: 400px;
    height: 100px;
    line-height: 80px;
    font-size: 30px;
    color: black;
    background-color: #ececec;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  .btn:hover {
    background-color: rgb(228, 95, 65);
  }
  .year-level{
    text-align:  center;
    color:rgb(228, 95, 65);
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  p{
    text-align:  center;
    color:rgb(228, 95, 65);
    font-family:georgia;
    font-size: 50px;
  }