/* Static CSS file or inline style */

main {
  background-image: url('../../static/images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.section {
  /* margin: 10px; */
  padding: 10px;
}

h3 {
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 5px;
}



.card-container {
  display: flex;
  overflow-x: auto;
  /* Allow horizontal scrolling if content overflows */
  padding: 5px;
  padding-bottom: 20px;
  /* Add some padding at the bottom for better visibility */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.card-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.card-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.card {
  /*box for fields*/
  /* border: 2px solid rgb(228, 95, 65); ; */
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-left: 30px;
  flex-shrink: 0;
  /* Prevent cards from shrinking to fit */
  text-align: center;
  /* margin-right: 10px; */
  transition: background-color 0.3s ease;
  /* margin-left: 50px; */
  background-color: whitesmoke;
  /* color: rgb(228, 95, 65);  */
  color: black;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.4);
  border-radius: 15px;


}

.card:hover {
  transform: scale(1.05); /* Slightly enlarge the card */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
  cursor: pointer; /* Change cursor to pointer */
}


.card.field {
  max-height: 50px;
  max-width: 180px;
  min-height: 50px;
  min-width: 180px;
  overflow: hidden;
  /* background-color:rgb(228, 95, 65); */
  color: white;
  size: 10px;
}

.card.specialization {
  height: 100px;
  width: 220px;
  min-height: 100px;
  min-width: 220px;
  max-height: 100px;
  max-width: 220px;
  overflow: hidden;
}



.card.field {
  /* background-color:rgb(228, 95, 65);  */
  /* color: white; */
  size: 10px;
  margin-left: 0;
  margin-right: 15px;
}

.card img {
  height: 80px;
  width: 119px;
  padding-right: 20px;
  display: inline-block;

}

.field_title {
  font-size: 14px;
  font-weight: bold;
  color: black;

}
.recommendedfield_first .card.field{
  background-color: #FF6347; 
  color: white; /* White text */
}

.recommendedfield_second .card.field{
  background-color: #ADFF2F; 
  color: white; /* White text */
}

.recommendedfield_third .card.field{
  background-color: #1E90FF;
  color: white; /* White text */
}

.recommended-label {
  /* Small font */
  font-size: 12px;
}

.recommended_first {
  /* color gold */
  /* color: #ffff00; */
  color: #000;
  font-weight: bold;
}

.recommended_second {
  /* color silver */
  /* color: gold; */
  color: #000;
  font-weight: bold;
}

.recommended_third {
  /* color bronze */
  /* color: #f0e68c; */
  color: #000;
  font-weight: bold;
}

.card h3 {
  margin: 0;
  font-size: 18px;
}

.card-selected {
  font-weight: 900 !important;
  color: white !important;
  background-color: #A9A9A9 !important;
  border: 2px solid #A9A9A9 !important;
  box-shadow: 0 0 10px #A9A9A9 !important;
}

.specialization_title {
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 8px;
}

.specialization_description {
  /* dont extend out the card */
  overflow: hidden;

}

a .card.specialization {
  margin-left: 0;
  margin-right: 12px;
}

.card.specialization p {
  /* Small font */
  font-size: 12px;
  /* left align */
  text-align: left;
  /* dont extend out the card */
  overflow: hidden;
  text-overflow: ellipsis;
  /* show ... if text overflows */
  /* white-space: nowrap; */
  /* allow 3 lines */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /* color:rgb(228, 95, 65);  */
  max-height: 60px;
}

/* remove a styles */
a {
  text-decoration: none;
  color: transparent;
}

a:hover {
  text-decoration: underline;
}


a:active {
  color: #000;
}

.card-title {
  color: black;
}

.card-text {
  color: black;
}

footer {
  display: none;
}