/* Static CSS file or inline style */

main{
  background-image: url('../../static/images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.card-container {
  display: flex;
  /* Use flexbox to create a horizontal layout */
  /* gap: 20px; */
  overflow-x: auto;
  /* Allow horizontal scrolling if content overflows */
  padding-bottom: 20px;
  /* Add some padding at the bottom for better visibility */
}

.card {/*box for fields*/
  border: 1px solid #ccc;
  padding: 10px;
  color:black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
  margin-left: 30px;;
  /* Adjust the width as needed */
  flex-shrink: 0;
  /* Prevent cards from shrinking to fit */
  text-align: center;
  /* margin-right: 10px; */
  transition: background-color 0.3s ease;
  /* margin-left: 50px; */
  background-color: whitesmoke;
  box-shadow: 0 4px 6px rgb(0,0,0,0.4);
  border-radius: 15px;
   
}
.card.specialization,
.card.field{
  max-height: 50px;
  overflow: hidden;
}


.card:hover{
  background-color: var(--highlight);
  /* rgb(239, 85, 59); */
  color:black;
}
.card img{
  height:80px;
  width:119px;
 padding-right: 20px;
 display:inline-block;

}
.field_title
{
  font-size: 18px;
  font-weight: bold;
  color:black;
}
.recommended-label
{
  /* Small font */
  font-size: 12px;
}
h3{
  font-size: 30px;
  color:black;
  margin-left: 30px;
}
.recommended_first
{
  /* color gold */
  color: #FFD700;
}

.recommended_second
{
  /* color silver */
  color: #C0C0C0;
}

.recommended_third
{
  /* color bronze */
  color: #CD7F32;
}

.card h3 {
  margin: 0;
  font-size: 18px;
}

.card-selected{
  font-weight: 900;

  border: 1px solid  var(--highlight);
  background-color: var(--highlight);
}

.specialization_title{
  font-size: 16px;
}

.specialization_description{
  /* dont extend out the card */
  overflow: hidden;
  
}

/* remove a styles */
a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}


a:active {
  color: #000;
}
footer{
  display: none;
}