body {
  font-family: sans-serif;
  background-image: url("/static/images/log.jpg");
}

.container1 {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  margin-top: 80px;

}

.form {
  margin-top: 20px;
}

/* WELCOME TO COURSE UNIVERSITY */
.form h2 {
  font-size: 30px;
  margin-bottom: 50px;
  font-family: sans-serif;
  color: /*lightsalmon;*/rgb(228, 95, 65); 

}

/*USER INPUT CONTAINER*/
.box {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: .9rem;
}

#submit {
  background-color: rgb(228, 95, 65); 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 0px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
  display: inline-block;
  width: 95%;
  /* Make buttons fill the width of the container */
  text-align: center;
  transition: background-color 0.3s ease;
  color: white;
  font-weight: bold;
  margin-top: 10px;

}

.form a {
  font-size: 15px;
  font-family: sans-serif;
  color: green;
}