.container{
border: 5px solid rgb(228, 95, 65);
flex-direction: column;
justify-content: center;
max-width: 400px;
margin: 180px auto 20px auto; /* Adjust top margin as needed */
padding: 20px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 5px;
background-color: white;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
height: 300px;
background-repeat: no-repeat;
background-size: 30%;
background-position: 0% 100%;
text-align: center;
box-shadow: 4px 4px 15px rgba(5, 5, 5, .5);
}

p{
    font-size:20px;
}
.btn {
    display: block;
    margin: 0 auto;
    margin-bottom:2px;
    width: 350px;
    height: 50px;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    line-height: 50px;
    background-color:rgb(228, 95, 65); 
    transition: background-color 0.3s ease;
  }
  .btn:hover{
    background-color: #ececec;
    color: rgb(228, 95, 65); 
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
  }