
body{
  background-image: url('../../static/images/course.png');
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-size: cover;
}

.container {
  width: 150px;
  height: 300px; /* Increased height to accommodate the image */
  margin: 0 20px;
  text-align: center;
  padding: 10px;
}

.container img {
  max-width: 100%;
  max-height: 100px; /* Set a maximum height for the image */
  margin-bottom: 10px;
}
.container h2{
    color:rgb(228, 95,65)
}
.get-started-button{ 
  padding: 10px 20px;
  background-color: rgb(228, 95, 65);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 80px; 
  align-items: center;
  justify-content: center;
  display:flex;
  width:100px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.4);
}
.get-started-button:hover {
  background-color: rgb(247, 114, 84); /* Change the background color on hover */
  color:white;

}