body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #495057;
}

.main {
    background-color: rgb(228, 95,65);
}

.recommendation-section {
    max-width: 900px;
    margin: 10px auto 40px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px 50px 50px 50px;
    border-radius: 12px;
    background-color: #fff; 
}

.recommendation-div {
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 20px;
}

.recommendation {
    margin-bottom: 50px;
}

.recommendation h4 {
    /* color: rgb(228, 95,65); */
    font-size: 1.2em;
    margin-bottom: 10px;
}

.recommendation h1 {
    color: rgb(228, 95,65);
    font-size: 3em;
    margin-bottom: 15px;
}

.compatibility {
    margin: 0 15px;
}

.compatibility h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}


.content p {
    line-height: 1.6;
    margin-bottom: 20px;

}

.skill-section {
    margin-bottom: 20px;
    padding: 15px;
}

.skill-section h5 {
    font-size: large;
    display: flex;
    justify-content: center;
}

.user-skills, .recommended-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid #ddd;
    border-radius: 8px; */
    margin: 0 15px;
    padding: 7px;
}

.skill-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3px;
    border: 3px solid rgb(228, 95, 65);      /*solid #ddd;*/
    border-radius: 8px;
    padding: 7px;
}

.skill-card p {
    margin: 0;

}

.other-section h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.explore-section {
    display: flex;
    justify-content: center;
}

.explore-section .card {
    /* margin: 0 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    margin: 0 10px;
    min-width: 230px;
    min-height: 150px;
}

.skill-section {
    margin-bottom: 20px;
    padding: 15px;
}

.skill-section h5 {
    font-size: large;
    display: flex;
    justify-content: center;
}

.user-skills, .recommended-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid #ddd;
    border-radius: 8px; */
    margin: 0 15px;
    padding: 7px;
}

.skill-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3px;
    border: 3px solid rgb(228, 95, 65); 
    border-radius: 8px;
    padding: 7px;
}

.skill-card p {
    margin: 0;

}

.other-section h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.explore-section {
    display: flex;
    justify-content: center;
}

.explore-section .card {
    /* margin: 0 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    margin: 0 10px;
    min-width: 230px;
    min-height: 150px;
}

.grey-text {
    color: grey;
}

.card {
    max-width: 550px;
    margin-bottom: 10px;
    border: 2px solid rgb(228, 95, 65); 
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.explore-section a {
    text-decoration: none;
    color: inherit;
}

.explore-section a:hover .card{
    background-color: rgb(228, 95,65);
    color: #fff;
}

.explore-section div.card p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    /* font weight */
    font-weight: bold;
    font-size: 1.2em;
}

strong {
    font-weight: 900;
    
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(288, 95, 65);
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: rgb(288, 90, 69);
}
