body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h2 {
    color: rgb(228, 95, 65);
    text-align: center;
    margin-bottom: 10px;
    padding-top: 15px;
    
}

.materials {
    margin: 20px auto;
    max-width: 750px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

}

.materials h2,
.materials h3 {
    margin-bottom: 10px;
    text-align: center;
    
}   

.materials div {
    border-bottom: 1px solid grey;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.materials div:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.materials div:last-child {
    border-bottom: none;
}

.materials a {
    color: blue;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.materials a:hover {
    color: rgb(228, 65, 95);
}

.materials.begineer {
    background-color: #f5f5dc;
}

.materials.intermediate {
    background-color: #fff3cd;
}

.materials.advanced {
    background-color: #f1ff9a;
}

.materialIcon {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;


}