body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #495057;
}

.recommendation-section {
    max-width: 900px;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 50px;
   
    
}

.recommendation-div {
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 20px;
}

h4 {
    color: rgb(228, 95,65);
    font-size: 1.5em;
    margin-bottom: 15px;
}

h1 {
    color: #0056b3;
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;

}

.grey-text {
    color: grey;
}

.card {
    max-width: 550px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(288, 95, 65);
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: rgb(288, 90, 69);
}
