p{
  text-align: center;
  color: rgb(228, 95, 65);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}
.btn{
      display: flex;
      align-items: center; /* Center items vertically */
      justify-content: center; /* Center items horizontally */
      margin: 0 auto;
      margin-top: 30px;
      width: 400px;
      height: 80px;
      font-size: 25px;
      padding: 2px 1px;
      background-color: whitesmoke;
      border-radius: 15px;
      text-decoration: none;
      transition: background-color 0.3s ease;
      font-weight: bold;
      color: rgb(228, 95, 65);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
      margin-bottom: 10px; /* Add margin between buttons */
      font-family: Arial, Helvetica, sans-serif;
    }
    .btn:hover {
      background-color: rgb(228, 95, 65); /* Change the background color on hover */
    color:white;
    }