
h1{
  text-align: center;
  justify-content: center;
  color:rgb(228, 95, 65);
}
p{
  text-align: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}
.btn{ 
    display: block;
    margin: 0 auto;
    width: 150px;
    padding-top: 10px;
    height: 40px;
    font-size:15px;
    margin-top:200px;
    justify-content: center;
    text-align: center;
    background-color: rgb(228, 95, 65);
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: bold;
    color:white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
  }
  .btn:hover {
    background-color: whitesmoke; /* Change the background color on hover */
    color:rgb(228, 95, 65);
  
  }
  .skills{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;  
    text-align: center;
    
    text-decoration: none;
    background-color: rgb(228, 95, 65);
    color: #fff;
    border: 2px solid rgb(185, 87, 41);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 30px; /* Optional: Add margin between buttons */
  box-shadow: 0 4px 6px rgba(0,0,0,0.4);
  }
  .skills-container{
    text-align: center; /* Use text-align to center inline elements horizontally */
  }

  footer{
    display:none;
  }