
h1{
  text-align: center;
  justify-content: center;
  color:rgb(228, 95, 65);
}
p{
  text-align: center;
  justify-content: center;
}
.btn{ 
    display: block;
    margin: 0 auto;
    width: 150px;
    padding-top: 10px;
    height: 40px;
    font-size:15px;
    margin-top:500px;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: bold;
    color:rgb(228, 95, 65);
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
  }
  .btn:hover {
    background-color: rgb(228, 95, 65); /* Change the background color on hover */
    color:white;
  
  }
  footer{
    display:none;
  }