/*d
.test-container
{
    display: inline-block;
    top:50px;
    left:50px;
    position: relative;
}

iv.test-container .card
{
    padding: 15px;
    background-color:#fa7e5c; 
    border-radius: 15px;
    margin: 10px;
    max-width: 400px;
    height:150px;
   position: relative;

}*/
/*body {
    background-image: url('../../static/images/bg1.png');
    background-size: cover;
    background-repeat: no-repeat; */
    /* background-color: orangered; }*/



.character-container {
    /* add image */
    background-image: url('../../static/images/character.png');
    /* png no white bg */

    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    min-width: 355px;
    min-height: 600px;
    max-width: 350px;
    max-height: 500px;
    margin-left: 100px;
}
.test-container{
    justify-content: left;
    
}
body{
  
    height: 100vh;
    justify-content:center;
    align-items:center;
    margin: 0;
}

.btn{
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center;
      font-size: 20px ;
      margin-left: 30px;
      margin-top: 30px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      background-color: rgb(228, 95, 65);
      color: #fff;
      border: 2px solid rgb(233, 68, 31);
      border-radius: 5px;
      cursor: pointer;
      width: 400px;
      height:100px;
      
      transition: background-color 0.3s ease;
  }
  .btn:hover {
    background-color: whitesmoke; /* Change the background color on hover */
  color:rgb(228, 95, 65);
  }
  .btn img{
    padding-top: 10px;
    width: 100px;
    height:80px;
   padding-left: 10px;
   padding-right: 20px;

  }
footer {
    display: none;
}
