/*d
.test-container
{
    display: inline-block;
    top:50px;
    left:50px;
    position: relative;
}

iv.test-container .card
{
    padding: 15px;
    background-color:#fa7e5c; 
    border-radius: 15px;
    margin: 10px;
    max-width: 400px;
    height:150px;
   position: relative;

}*/
.main {
    /* background-image: url('../../static/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat; */
    /* background-color: orangered; */

}

.test-home-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
}

.character-container {
    /* add image */
    background-image: url('../../static/images/character.png');
    /* png no white bg */

    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    min-width: 30%;
    min-height: 520px;
    max-width: 30%;
    max-height: 550px;
    /* margin-left: 150px; */
}
/* .test-container{
    justify-content: left;
    margin-bottom: 100px;
} */

body{
  
    height: 100vh;
    justify-content:center;
    align-items:center;
    margin: 0;
}

.test-container{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px; */
    max-width: 70%;
}

.btn{
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center;
      font-size: 20px ;
      /* margin-left: 600px; */
      /* margin-left: 60%; */
      margin-top: 30px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      background-color: rgb(228, 95, 65);
      color: #fff;
      border: 2px solid rgb(233, 68, 31);
      border-radius: 5px;
      cursor: pointer;
      width: 400px;
      height:100px;
      
      transition: background-color 0.3s ease;
  }
  .btn:hover {
    background-color: whitesmoke; /* Change the background color on hover */
  color:rgb(228, 95, 65);
  }
  .btn img{
    padding-top: 10px;
    width: 100px;
    height:80px;
   padding-left: 10px;
   padding-right: 20px;

  }
footer {
    display: none;
}
