
/*d
.test-container
{
    display: inline-block;
    top:50px;
    left:50px;
    position: relative;
}

iv.test-container .card
{
    padding: 15px;
    background-color:#fa7e5c; 
    border-radius: 15px;
    margin: 10px;
    max-width: 400px;
    height:150px;
   position: relative;

}*/
.test-container{
    display: flex;
    justify-content:center;
    margin-top: 20px;
    margin-right:100px;
}
.card{
    width: 210px;
    height: 260px;
    border-radius:15px ;
    text-align: center;
    margin:3%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    display: inline-block;
    top:50px;
    left:50px;
    position: relative;
   
    padding-top: 10px;
}
#card1{
    background-color:#fafafa; 
}
#card2{
    background-color:#fafafa; 
}

#card3{
    background-color:#fafafa; 
}
#card4{
    background-color:#fafafa; 
}
h5{
    color:black; 
}
p{
    color:black; 
}
.btn{ 
    display: block;
    margin: 0 auto;
    margin-bottom:10px;
    width: 90px;
    height: 30px;
    font-size: 13px;
    padding: 1px 1px;
    text-align: center;
    background-color: rgb(228, 95, 65);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
    padding-top: 7px;
    margin-top: 10px;

  }
  footer{
    display:none;
  }