{% extends 'base_user.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <div class="job-list">
        <div class="job-card">
            <h2 class="job-title">Software Engineer</h2>
            <p class="company-name">Tech Company Inc.</p>
        </div>
        <div class="job-card">
            <h2 class="job-title">Product Manager</h2>
            <p class="company-name">Startup Innovations</p>
        </div>
        <!-- Add more job cards here -->
    </div>
    <div class="job-details">
        <h2 class="job-title">Software Engineer</h2>
        <p class="company-name">Tech Company Inc.</p>
        <div class="job-description">
            <h3>Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        </div>
        <div class="job-requirements">
            <h3>Requirements</h3>
            <ul>
                <li>Experience with Python and Django</li>
                <li>Strong problem-solving skills</li>
                <!-- Add more requirements here -->
            </ul>
        </div>
    </div>
</div>



{% else %}
<!-- 
<div class="col-md-6 offset-md-3">
    <br><br><br>
    <h3 class="">You need to login first</h3>
    <a href="{% url 'login_user' %}" class="btn btn-secondary">Login Page</a>
</div> -->

{% endif %}



{% endblock content %}
```