{% extends 'base_user.html' %}

{% block title %}Home{% endblock %}
{% load static %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/job_post.css' %}">
    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include your custom JavaScript file -->
    <script src="{% static 'js/job_list.js' %}"></script>
{% endblock head_extra %}



{% block content %}

{% if user.is_authenticated %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- Left Column for Job List -->
            <div class="job-list" >
                {% for job_posting in job_postings %}
                <div class="job-card"  data-job-id="{{ job_posting.id }}">
                    <h2 class="job-title">{{ job_posting.job_title }}</h2>
                    <p class="company-name">{{ job_posting.company_name }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8">
            <!-- Right Column for Job Details -->
            <div class="job-details">
                <!-- <p>Selected Job ID: {{ job_posting.id }}</p> -->
                {% if selected_job %}
                <h2 class="">{{ selected_job.job_title }}</h2>
                <h3 class=""><a href="{{ selected_job.company_link}}">{{ selected_job.company_name }}</a></h3>
                <p class="">{{ selected_job.location }}</p>
                <p class="">Date Posted: {{ selected_job.date_posted }}</p>
                <div>
                {{ selected_job.job_description|safe }}
                </div>
                <h4>Employment Type</h4>
                <p>{{ selected_job.employment_type }}</p>

                <h4>Job Function</h4>
                <p>{{ selected_job.job_function }}</p>

                <h4>Industries</h4>
                <p>{{ selected_job.industries }}</p>

                <h4>Seniority Level</h4>
                <p>{{ selected_job.seniority_level }}</p>


                <a href="{{ selected_job.link }}" class="btn btn-primary">Apply</a>
                {% else %}
                <p>Select a job to view details.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>



{% else %}
<!-- 
<div class="col-md-6 offset-md-3">
    <br><br><br>
    <h3 class="">You need to login first</h3>
    <a href="{% url 'login_user' %}" class="btn btn-secondary">Login Page</a>
</div> -->

{% endif %}



{% endblock content %}
```