p{
    text-align:  center;
    color:rgb(228, 95, 65);
    font-family:georgia;
    font-size: 40px;
  
  }
  body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    border-collapse: collapse;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

}

.container table {
    width: 100%;
}

.container, .grade-book td {
    padding: 10px;
}
.subject {
    margin-bottom: 10px;
}

.grade {
    margin-bottom: 20px;
}

th{
    text-align:center;
}

.submit-button {
    display: inline-block;
    background-color:rgb(228, 95, 65); /* Button background color */
    color: white; /* Text color */
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Adjust font size to make it larger */
    font-family: Sans-serif; 
    margin-top: 400px;
    text-align: center;
}
  