{% extends 'base_user.html' %}



{% block title %}Recommender{% endblock %}

{% load static %}


{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/recommendation_field.css' %}">


{% endblock head_extra %}

{% block content %}
<div class="recommendation-section">
    <div class="recommendation">
        <h4>Recommendation</h4>
        <h1>{{field_object.field_name}}</h1>
        <p>{{field_object.description}}</p>
    </div>

    <div class="compatibility">
        <h4>Compatibility Explanation</h4>
        <p>{{field_object.explanation}}</p>
    </div>

    <div class="user-skills">
        <h4>Your {{field_object.field_name}} Skills</h4>
        {% for skill in top_user_skills %}
        <p>{{skill}}</p>
        {% endfor %}
        {% for skill in top_user_skills_2 %}
        <p class="grey-text">{{skill}}</p>
        {% endfor %}
    </div>

    <div class="recommended-skills">
        <h4>Recommended {{field_object.field_name}} Skills</h4>
        {% for skill in not_in_user_skills %}
        <p>{{skill}}</p>
        {% endfor %}
        {% for skill in not_in_user_skills_2 %}
        <p class="grey-text">{{skill}}</p>
        {% endfor %}
    </div>

    <div class="explore-section">
        <h4>Explore more about the possible future path for you.</h4>

        <div class="card">
            <p>Specialization</p>
            <a href="{% url 'recommendation_specialization' field_id=field_object.field  %}" class="btn">Specializations</a>
        </div>

        <div class="card">
            <p>Roadmap</p>
            <a href="{% url 'recommendation_course' field_id=field_object.field %}" class="btn">Roadmap</a>
        </div>

        <div class="card">
            <p>Jobs</p>
            <a href="{% url 'job_list_with_field' field_id=field_object.field %}" class="btn">Jobs</a>
        </div>
    </div>
</div>
{% endblock content %}