{% extends 'base_user.html' %}



{% block title %}Recommender{% endblock %}

{% load static %}


{% block head_extra %}

{% endblock head_extra %}

{% block content %}

<div>
    <h4>Recommendation</h4>
    <h1>{{field_object.field_name}}</h1>

    <p>{{field_object.description}}</p>
</div>
<br><br>
<div>
    <h4>Compability Explanaiton</h4>
    <p>{{field_object.explanation}}</p>
</div>
<br>
<div>
    <h4>Your {{field_object.field_name}} Skills</h4>
    {% for skill in top_user_skills %}
    <p>{{skill}}</p>
    {% endfor %}
    {% for skill in top_user_skills_2 %}
    <p style="color: grey;">{{skill}}</p>
    {% endfor %}
</div>

<br>
<div>
    <h4>Recommended {{field_object.field_name}} Skills</h4>
    {% for skill in not_in_user_skills %}
    <p>{{skill}}</p>
    {% endfor %}
    {% for skill in not_in_user_skills_2 %}
    <p style="color: grey;">{{skill}}</p>
    {% endfor %}
</div>
<br>

<div>
    <h4>Explore more about the possible future path for you.</h4>
    <br>
    <div class="card">
        <p>Specialization</p>
        <a href="{% url 'recommendation_specialization' field_id=field_object.field  %}" class="btn">Specializations</a>
    </div>
    <br>
    <div class="card">
        <p>Roadmap</p>
        <a href="{% url 'recommendation_course' field_id=field_object.field %}" class="btn">Roadmap</a>
    </div>
    <br>
    <div class="card">
        <p>Jobs</p>
        <a href="{% url 'recommendation_jobs' field_id=field_object.field %}" class="btn">Jobs</a>
    </div>
</div>
<br><br><br>
{% endblock content %}