{% extends 'base_user.html' %}



{% block title %}Recommender{% endblock %}

{% load static %}


{% block head_extra %}

{% endblock head_extra %}

{% block content %}

<h2>Recommender</h2>

<h2>Your Top Field Recommendation</h2>
<ul>
    <li><a href="{% url 'recommendation_field' field_id=field_1.field %}">Top 1: {{field_name_1}}</a></li>
    <li><a href="{% url 'recommendation_field' field_id=field_2.field %}">Top 2: {{field_name_2}}</a></li>
    <li><a href="{% url 'recommendation_field' field_id=field_3.field %}">Top 3: {{field_name_3}}</a></li>
</ul>

<div class="container">
    {{ field_plot|safe }}
</div>
<!-- <div class="container">
    {{ skill_plot|safe }}
</div> -->
<div class="container">
    {{ stacked_skills|safe }}
</div>
<div class="container">
    {{ radar_skills|safe }}
</div>

<br>
<div>
    <h3>Your Recommendation History</h3>
    <div>
        <!-- from 1st year to last year -->
        
        
    </div>
</div>


{% endblock content %}