{% extends 'base_user.html' %}

{% block title %}Test Overview{% endblock %}

{% block content %}
    <h1 class="mt-4">Test Overview</h1>
    <p>Question Set ID: {{ question_set_id }}</p>

    <table class="table table-bordered mt-4">
        <thead class="thead-light">
            <tr>
                <th>Question</th>
                <th>Status</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for item in question_info %}
                <tr>
                    <td>{{item.question.question}}</td>
                    <td>
                        {% if item.has_answered %}
                            <span class="text-success">Answered</span>
                        {% else %}
                            <span class="text-danger">Not Answered</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.has_answered %}
                            <a href="{% url 'display_question' question_id=item.question.question_id %}" class="btn btn-primary">View</a>
                        {% else %}
                            <a href="{% url 'display_question' question_id=item.question.question_id %}" class="btn btn-primary">Start Test</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{% url 'submit_test' %}">Submit Test</a>
    
{% endblock %}
