body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  width: 80%;
}

.container1 {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.form {
  margin-top: 20px;
}

.box {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#submit {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#submit:hover {
  background-color: #0056b3;
}

.alert {
  margin-top: 20px;
}

/* Additional styles for alert messages */
.alert-warning {
  background-color: #ffc107;
  color: #212529;
  border: 1px solid #ffc107;
  border-radius: 5px;
}

.btn-close {
  color: #000;
}