{% extends 'base_user.html' %}



{% load static %}
{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/survey.css' %}">

{% endblock head_extra %}

{% block content %}


<div class="survey">
  <h2>Alignment of Academic Specialization with Professional Career in IT/CS</h2>

  <form method="post" action="{% url 'survey' %}">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <div class="forms-container">
      {% for field in form %}
      <div class="form-field">
        <div class="label-section">
          {{ field.label_tag }}
        </div>
        <div class="input-section">
          {{ field }}
        </div>

      </div>
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-submit btn-primary">Submit</button>
  </form>
</div>

<script>
  $(document).ready(function() {
    $('input[type="checkbox"]').each(function() {
        var id = $(this).attr('id');
        $(this).after('<label for="' + id + '"></label>');
    });
});
</script>
{% endblock %}