<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Choose Course</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
</head>
<body>
    <p>Select Course</p><br>
  <div class="course">
    <a href="{% url 'gradelevel_input' %}" class="btn btn-primary">Bachelor of Science in Information Technology</a>
    
</div>
<div class="course">
    <a href="{% url 'gradelevel_input' %}" class="btn btn-primary">Bachelor of Science in Computer Science</a>
</div>
</body>
</html>