{% extends 'base.html' %}
{% load static %}

  
{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/forgot.css' %}">

{% endblock head_extra %}


{% block content %}

    <div class="container">
        <div class="card">
            <form action="recovery.html">
            <h2>Forgot Password?</h2>
            <p>Enter your email address to reset your password. We will be sending link to your email</p>
            
                <label for="email"></label>
                <input type="email" id="email" name="email" required placeholder="Enter Email">
                <a class="link" href="{% url 'recovery' %}"><button type="button">Reset Password</button></a>
            </form>
        </div>
    </div>
{% endblock content %}