<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grade Level</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/grade_level.css' %}">
</head>
<body>
    <p>Select Year Level</p><br>
  <div class="year-level">
  <a href="{% url 'start_test' %}" class="btn btn-primary">First Year</a>
</div>
<div class="year-level">
  <a href="{% url 'subjectgrade_input' %}" class="btn btn-primary">2nd Year</a>
</div>
<div class="year-level">
  <a href="{% url 'subjectgrade_input' %}" class="btn btn-primary">3rd Year</a>
</div>
<div class="year-level">
  <a href="{% url 'subjectgrade_input' %}" class="btn btn-primary">4th Year</a>
</div>
</body>
</html>