
<div class="row">
    <div class="col-md-5">
        <h5>Students</h5>
        <hr>
        <div class="card card-body">
            <a class="btn bth-primary btn-sm btn-block" href="">Create</a>
            <table class="table table-sm">
                <tr>
                    <th>Column</th>
                    <th>Column</th>
                    <th>Column</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-7">
        <h5>Test</h5>
        <hr>
        <div class="card card-body">
            <a class="btn bth-primary btn-sm btn-block" href="">Create</a>
            <table class="table table-sm">
                <tr>
                    <th>Column</th>
                    <th>Column</th>
                    <th>Column</th>
                    <th>Column</th>
                    <th>Column</th>
                </tr>
            </table>
        </div>
    </div>
</div>