{% extends 'base_user.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- Left Column for Job List -->
            <div class="job-list" >
                {% for job_posting in job_postings %}
                <div class="job-card"  data-job-id="{{ job_posting.id }}">
                    <h2 class="job-title">{{ job_posting.title }}</h2>
                    <p class="company-name">{{ job_posting.company }}</p>
                    <!-- <a href="{% url 'job_detail' job_posting.id %}" class="btn btn-primary">View Details</a> -->
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8">
            <!-- Right Column for Job Details -->
            <div class="job-details">
                <!-- <p>Selected Job ID: {{ job_posting.id }}</p> -->
                {% if selected_job %}
                <h2 class="">{{ selected_job.title }}</h2>
                <h3 class="">{{ selected_job.company }}</h3>
                <div class="job-description">
                    <h3>Description</h3>
                    <!-- <p>{{ selected_job.description }}</p> -->
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, mollitia.</p>
                    <p>Atque nesciunt deleniti reiciendis sint dicta culpa nulla, earum repudiandae?</p>
                    <p>Perferendis quia accusamus ut laboriosam facilis, neque facere velit cupiditate.</p>
                    <p>Maxime autem aperiam ipsum aut. Cupiditate animi quibusdam temporibus eum.</p>
                    <p>Tempora id excepturi perspiciatis ratione sequi quasi ipsam alias pariatur!</p>
                </div>
                <div class="job-requirements">
                    <h3>Requirements</h3>
                    <ul>
                        <!-- <li>{{ selected_job.requirements }}</li> -->
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Quaerat facilis sapiente illum?</li>
                        <li>Repudiandae dolorum quo ducimus?</li>
                        <li>Sapiente eligendi consectetur quod.</li>
                    </ul>
                </div>
                <a href="{{ selected_job.link_clean }}" class="btn btn-primary">Apply</a>
                {% else %}
                <p>Select a job to view details.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>



{% else %}
<!-- 
<div class="col-md-6 offset-md-3">
    <br><br><br>
    <h3 class="">You need to login first</h3>
    <a href="{% url 'login_user' %}" class="btn btn-secondary">Login Page</a>
</div> -->

{% endif %}



{% endblock content %}
```