{% load static %}
<div>
  
</div>

<div class="input">
  <div class="logo">
    <img src="{% static 'images/logo.png' %}" alt="Logo">
  </div>
  {% if user.is_authenticated %}
  <button class="value"><i class="fas fa-file-alt"></i> Test</button>
  <button class="value"><i class="fas fa-user"></i> Profile</button>
  <button class="value"><i class="fas fa-home"></i> Home</button>
  <button class="value"><i class="fas fa-map"></i> Roadmap</button>
  <button class="value"><i class="fas fa-briefcase"></i> Jobs</button>
  <button class="value"><i class="fas fa-briefcase"></i> Logout</button>
  {% else %}
  <button class="value"><i class="fas fa-briefcase"></i> Login</button>
  <button class="value"><i class="fas fa-briefcase"></i> Signup</button>
  {% endif %}
  
</div>
