{% extends 'base_user.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<!-- webapp/templates/webapp/recommendations.html -->\
<div class="col-md--6 offset-md-3" >

  <h2>{{ test.question}}</h2>
  <li>
    <input type="radio" id="option1" name="option1" value="1">
    <label for="option1">{{ test.option1 }}</label>
  </li>
  <li>
    <input type="radio" id="option2" name="option2" value="2">
    <label for="option2">{{ test.option2 }}</label>
  </li>
  <li>
    <input type="radio" id="option3" name="option3" value="3">
    <label for="option3">{{ test.option3 }}</label>
  </li>
  <li>
    <input type="radio" id="option4" name="option4" value="4">
    <label for="option4">{{ test.option4 }}</label>
  </li>
  
  <!-- <button class="btn btn-primary" onclick="submit()">Submit</button> -->
  <button class="btn btn-primary"><a href="{% url 'prev_test' pk=test.question_id%}">Previous Question</a></button>
  
  <button class="btn btn-primary"><a href="{% url 'next_test' pk=test.question_id%}">Next Question</a></button>

</div>

{% else %}
<!-- 
<div class="col-md-6 offset-md-3">
    <br><br><br>
    <h3 class="">You need to login first</h3>
    <a href="{% url 'login_user' %}" class="btn btn-secondary">Login Page</a>
</div> -->

{% endif %}



{% endblock content %}
```