<!-- test_overview.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Test Overview</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Question Set</th>
                <th>Questions Answered</th>
                <th>Total Questions</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in question_set_info %}
                <tr>
                    <td>{{ item.question_set }}</td>
                    <td>{{ item.questions_answered }}</td>
                    <td>{{ item.total_questions }}</td>
                    <td>
                        {% if item.all_answered %}
                            Answered
                        {% else %}
                            Not Answered
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
