:root {
    font-size: 100%;
    font-size: 16px;
    line-heigt: 1.5;
    font-family: 'Poppins'sans-serif;
}
.container{
    display: flex;
    height: 550px;
    width: 900px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 15px 15px 20px black;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}
.right {
    width: 50%; 
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ff7d66;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.side {
    width: 50%; 
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    padding: 20px;
}

.side img {
    max-width: 100%; 
    height: 450px; 
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
h1{
    font-size: 2.25 rem;
    font-weight: 700;
}
h2{
    font-size: 1.5rem;
    font-weight: 700;
}
a {
    text-decoration: none;
    color: var(--primary-blue);
}
a:hover {
    text-decoration: underline;
}
.small{
    font-size: 80%;
    text-align: center;
}

.left {
    height: 200px;
}
.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
}.left {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url('images/pic.jpg');
background-size: cover;
}
.left .copy {
    color: white;
    text-align: center;
}
.left p {
    font-weight: 400;
}
.right .copy {
    color:black;
    text-align: center;
}
.right .copy p{
    margin: 1.5em 0;
    font-size: 0.875rem;
}
.right form {
    width: 328px;
}
form input[type="text"],
 form input[type="email"], 
 form input[type="password"]    {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
    border-radius: 20px;
 }
 label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
 }
 .input-container.password {
    position: relative;
 }
 .input-container.password i {
    position: absolute;
    top: 42px;
    right: 16px;
 }
 .signup-btn {
    display: block;
    width: 100%;
    background: black;
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 20px;
 }
 .signup-btn:hover {
    background: blue;
    cursor: pointer;
 }