

.btn {
    
    padding: 10px 20px;
    background-color: #ff5133;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 130px; 
    left: 180px; 
    
}

.btn:hover {
    background-color: blue;

}
