*{
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
    font-family: 'Poppins';
 }
.container{
    display: flex;
    height: 550px;
    width: 900px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: #ff7d66; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
      
}
.form h2 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    color: Black;
    margin-top: 70px;
}
.form h4 {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    color: Black;
    margin-bottom: 50px;
}
.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    margin-top: 3px;

}
#submit{
    position: relative;
    width: 30%;
    border: 2px solid #8000ff;
    background-color: #8000ff;
    height: 40px;
    color: white;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;   
    margin-top: 30px;
}
#submit:hover{
    cursor: pointer;
    background-color: blue;
  transition-duration: .5s;
}
.form a{
    text-decoration: none;
    color: white;
    margin-top: 20 px;
}
.form a:hover{
    color: white;
}
.side{
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.side img{
    max-width: 100%;
    height: 450px;
}
.form p a {
    color: white;
}
