{% load static %}
<div class="input">
    <div class="logo">
      <img src="{% static 'images/logo.jpg' %}" alt="Logo">
    </div>
    <button class="value"><i class="fas fa-file-alt"></i> Test</button>
    <button class="value"><i class="fas fa-user"></i> Profile</button>
    <button class="value"><i class="fas fa-home"></i> Home</button>
    <button class="value"><i class="fas fa-map"></i> Roadmap</button>
    <button class="value"><i class="fas fa-briefcase"></i> Jobs</button>
  </div>
