{% extends 'base_user.html' %}

{% block title %}Specialization{% endblock %}

{% block head_extra %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
{% endblock %}


{% block content %}

<br>
<h2>{{ field_object.field_name }}</h2>
<p>{{ field_object.description }}</p>

<br>
<div class="row">
    <div class=" ">
        <h5>Specializations</h5>
        <div class="card card-body">
            <!-- <a class="btn bth-primary btn-sm btn-block" href="">Create</a> -->
            <table class="table table-sm">
                <thead>
                    <th>ID</th>
                    <th>Title</th>
                    <!-- <th>Name</th> -->
                    <th>Description</th>
                    <!-- <th>Staff</th> -->
                    <th>Roadmap_ID</th>
                    <!-- <th>Date Joined</th> -->
                    <th>Update</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    {% for item in specialization_items %}
                    <tr>
                        <td>{{ item.specialization_id}}</td>
                        <td><a href="#">{{ item.title}}</a></td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.roadmap_id}}</td>
                        <td><a class="btn btn-info" href="">Update</a></td>
                        <td><a class="btn btn-danger" href="">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<a class="btn btn-primary" href="{% url 'admin_home' %}" >Go Back</a>


<br><br>
{% endblock content %}