<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <!-- contacts -->
      <div class="row">
        <div class="col-md-4">
          <h5>Contacts</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Email</a></li>
            <li><a class="link-secondary" href="#">Facebook</a></li>
            <li><a class="link-secondary" href="#">Instagram</a></li>
            <li><a class="link-secondary" href="#">Twitter</a></li>
          </ul>
        </div>
        <!-- about -->
        <div class="col-md-4">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Team</a></li>
            <li><a class="link-secondary" href="#">Locations</a></li>
            <li><a class="link-secondary" href="#">Privacy</a></li>
            <li><a class="link-secondary" href="#">Terms</a></li>
          </ul>
        </div>
        <!-- others -->
        <div class="col-md-4">
          <h5>Others</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Help</a></li>
            <li><a class="link-secondary" href="#">FAQ</a></li>
            <li><a class="link-secondary" href="#">Blog</a></li>
          </ul>
        </div>
        <span class="text-muted">Course University: A Ontology Based Recommendation System for CCIS Students</span>
      
    </div>
  </footer>