{% load static %}
<link rel="stylesheet" href="{% static 'css/test.css' %}">
<div class="input">
  <div class="logo">
    <img src="{% static 'images/logo.png' %}" alt="Logo" href="{% url 'home' %}">
  </div>
  {% if user.is_authenticated %}
    {% if request.user.is_staff %}
      <button class="value"><i class="fas fa-briefcase"></i><a href="{% url 'admin_home' %}">Dashboard</a></button>  
      <button class="value"><i class="fas fa-briefcase"></i><a href="{% url 'admin_students' %}">Student</a></button>
      <button class="value"><i class="fas fa-briefcase"></i><a href="{% url 'admin_report' %}">Reports</a></button>
    {% endif %}
  <button class="value"> <i class="fas fa-home"></i><a href="{% url 'home' %}" style="color: white;" >Home</a></button>
  <button class="value"><i class="fas fa-file-alt"></i><a href="{% url 'test_home' %}" style="color: white;" >Test</a></button>
  <button class="value" ><i class="fas fa-user" ></i><a href="{% url 'user_profile' %}"style="color: white;" >Profile</a></button>
  <!-- <button class="value"><i class="fas fa-map"></i> Roadmap</button> -->
  <button class="value"><i class="fas fa-briefcase"></i><a href="{% url 'job_list' %}"style="color: white;">Jobs</a></button>
  <button class="value"><i class="fas fa-briefcase"></i><a href="{% url 'logout' %}"style="color: white;">Logout</a></button>
  {% else %}
  <button class="value"><i class="fas fa-briefcase"></i> Login</button>
  <button class="value"><i class="fas fa-briefcase"></i> Signup</button>
  {% endif %}
  
</div>
