{% load static %}
<div class="input">
  <div class="logo">
    <img src="{% static 'images/logo.png' %}" alt="Logo" href="{% url 'home' %}">
  </div>
  {% if user.is_authenticated %}
    {% if request.user.is_staff %}
      <button class="value"><i class="fas fa-briefcase"></i><a class="nav_item" href="{% url 'admin_home' %}">Dashboard</a></button>  
      <button class="value nav_item"><i class="fas fa-briefcase"></i><a class="nav_item" href="{% url 'admin_students' %}">Student</a></button>
      <button class="value"><i class="fas fa-briefcase"></i><a class="nav_item" href="{% url 'admin_report' %}">Reports</a></button>
    {% endif %}
  <button class="value"> <i class="fas fa-home"></i><a class="nav_item" href="{% url 'home' %}" style="color: white;" >Home</a></button>
  <button class="value"><i class="fas fa-file-alt"></i><a class="nav_item" href="{% url 'test_home' %}" >Test</a></button>
  <button class="value" ><i class="fas fa-user" ></i><a class="nav_item" href="{% url 'user_profile' %}" >Profile</a></button>
  <!-- <button class="value"><i class="fas fa-map"></i> Roadmap</button> -->
  <button class="value"><i class="fas fa-briefcase"></i><a class="nav_item" href="{% url 'job_list' %}">Jobs</a></button>
  <button class="value"><i class="fas fa-briefcase"></i><a class="nav_item" href="{% url 'logout' %}">Logout</a></button>
  {% else %}
  <button class="value"><i class="fas fa-briefcase"></i> Login</button>
  <button class="value"><i class="fas fa-briefcase"></i> Signup</button>
  {% endif %}
  
</div>
