<div class="row">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="">
            <div class="card-header">
                <h5 class="card-title" style="color: black;"> Job Posts </h5>
            </div>
            <div class="card-body">
                <h3 class="card-title" style="color: #000;"> {{ JobPosting_count }} </h3>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="">
            <div class="card-header">
                <h5 class="card-title" style="color: black;"> Specializations </h5>
            </div>
            <div class="card-body">
                <h3 class="card-title" style="color: #000;"> {{ Specialization_count }} </h3>
            </div>
        </div>  
    </div>
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="">
            <div class="card-header">
                <h5 class="card-title" style="color: black;"> Assessment Taken </h5>
            </div>
            <div class="card-body">
                <h3 class="card-title" style="color: #000;"> {{ QuestionSet_count }} </h3>
            </div>
        </div>
    </div>
</div>