<div class="row cardBox">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="">
            <div class="card-body">
                <div class="card-title numbers" style="color: #000;"> {{ JobPosting_count }} </div>
                <div class="card-title cardName" style="color: black;"> Job Posts </div>
            </div>
            <div class="iconBx">
                <ion-icon name="briefcase-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="">
            <div class="card-body">
                <div class="card-title numbers" style="color: #000;"> {{ Specialization_count }} </div>
                <div class="card-title cardName" style="color: black;"> Specializations </div>
            </div>
            <div class="iconBx">
                <ion-icon name="briefcase-outline"></ion-icon>
            </div>
        </div>  
    </div>
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="">
            <div class="card-body">
                <div class="card-title numbers" style="color: #000;"> {{ QuestionSet_count }} </div>
                <div class="card-title cardName" style="color: black;"> Assessment Taken </div>
            </div>
            <div class="iconBx">
                <ion-icon name="briefcase-outline"></ion-icon>
            </div>
        </div>
    </div>
</div>