<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grade Level</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/grade_level.css' %}">
</head>
<body>
    <p>Select Year Level</p><br>
  <div class="year-level">
  First year
</div>
<div class="year-level">
  2nd year
</div>
<div class="year-level">
  3rd year
</div>
<div class="year-level">
  4th year
</div>
</body>
</html>