{% extends 'base_user.html' %}
{% block title %}Year Selection{% endblock %}

{% load static %}
{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/select_year_level.css' %}">
{% endblock head_extra %}

{% load custom_filters %}
{% block content %}
<p>Select Year Level</p><br>

<div>
  {% for year in number_of_years|get_range %}
  {% if year == 0 %}
  <div class="year-level">
    <a href="{% url 'enroll_student' course_id=course.id year_level=year %}" class="btn btn-primary">
      Pre-Assessment
    </a>
  </div>
  {% elif year == 1 %}
  <div class="year-level">
    <a href="{% url 'enroll_student' course_id=course.id year_level=year %}" class="btn btn-primary">
      {{ year }}st Year
    </a>
  </div>
  {% elif year == 2 %}
  <div class="year-level">
    <a href="{% url 'enroll_student' course_id=course.id year_level=year %}" class="btn btn-primary">
      {{ year }}nd Year
    </a>
  </div>
  {% elif year == 3 %}
  <div class="year-level">
    <a href="{% url 'enroll_student' course_id=course.id year_level=year %}" class="btn btn-primary">
      {{ year }}rd Year
    </a>
  </div>
  {% else %}
  <div class="year-level">
    <a href="{% url 'enroll_student' course_id=course.id year_level=year %}" class="btn btn-primary">
      {{ year }}th Year
    </a>
  </div>
  {% endif %}

  {% endfor %}
</div>


{% endblock content %}