{% extends 'base_user.html' %}
{% block title %}Year Selection{% endblock %}

{% load static %}
{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/select_year_level.css' %}">
{% endblock head_extra %}

{% load custom_filters %}
{% block content %}

<p class="select-year">Select Year Level</p>


<div>
  {% for year in number_of_years|get_range %}
  {% if year == 0 %}
  <div class="year-level">
    <a href="{% url 'enroll_student' course_id=course.id year_level=year %}" class="btn btn-primary">
      <img src="{% static 'images/light.png' %}">
      Pre-Assessment
    </a>
  </div>
  {% elif year == 1 %}
  <div class="year-level">
    <a href="{% url 'enroll_student' course_id=course.id year_level=year %}" class="btn btn-primary">
      <img src="{% static 'images/html.png' %}">
      {{ year }}st Year
    </a>
  </div>
  {% elif year == 2 %}
  <div class="year-level">
    <a href="{% url 'enroll_student' course_id=course.id year_level=year %}" class="btn btn-primary">
      <img src="{% static 'images/java.png' %}">
      {{ year }}nd Year
    </a>
  </div>
  {% elif year == 3 %}
  <div class="year-level">
    <a href="{% url 'enroll_student' course_id=course.id year_level=year %}" class="btn btn-primary">
      <img src="{% static 'images/php.png' %}">
       {{ year }}rd Year
    </a>
  </div>
  {% else %}
  <div class="year-level">
    <a href="{% url 'enroll_student' course_id=course.id year_level=year %}" class="btn btn-primary">
      <img src="{% static 'images/c.png' %}">
       {{ year }}th Year
    </a>
  </div>
  {% endif %}

  {% endfor %}
</div>


{% endblock content %}