{% extends 'base_user.html' %}
{% block title %}Year Selection{% endblock %}

{% load static %}
{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/grade_level.css' %}">
{% endblock head_extra %}

{% load custom_filters %}
{% block content %}
<p>Select Year Level</p><br>
<div>
  {% for year in number_of_years|get_range %}
  
  <div class="year-level">
    <a href="{% url 'enroll_student' course_id=course.id year_level=year %}" class="btn btn-primary">
      {% if year == 0 %}
      Freshman
      {% else %}
      Year {{ year }}
      {% endif %}
    </a>
  </div>
  {% endfor %}
</div>


{% endblock content %}